<ion-header translucent>
    <ion-toolbar color="background">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title (click)="handleListNameClick()">{{list.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-refresher color="tertiary" (ionRefresh)="refreshList($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-card *ngFor="let item of uncheckedItems">
            <ion-item class="item">
                <ion-checkbox [(ngModel)]="item.state.checked" color="secondary"
                              (ionChange)="handleItemCheck(item)"></ion-checkbox>
                <ion-input class="no-validate" type="text" [ngModel]="item.text"
                           (ionBlur)="updateItem(item, $event.value)" *ngIf="!item.state.checked"></ion-input>
                <ion-label *ngIf="item.state.checked"
                           [ngClass]="{ itemchecked: item.state.checked }">{{item.text}}</ion-label>
                <ion-button fill="clear" item-right (click)="presentActionSheet(item)">
                    <ion-icon color="tertiary" name="close"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card>
        <ion-card class="new-item-input">
            <ion-item>
                <ion-input type="text" placeholder="+ item" (ionBlur)="onBlur()" [(ngModel)]="newItemName"
                           (keyup.enter)="onBlur()"></ion-input>
            </ion-item>
        </ion-card>
        <ion-card *ngFor="let item of checkedItems" class="card-item-checked">
            <ion-item class="item">
                <ion-checkbox [(ngModel)]="item.state.checked" color="secondary"
                              (ionChange)="handleItemCheck(item)"></ion-checkbox>
                <ion-input class="no-validate" type="text" [ngModel]="item.text"
                           (ionBlur)="updateItem(item, $event.value)" *ngIf="!item.state.checked"></ion-input>
                <ion-label *ngIf="item.state.checked"
                           [ngClass]="{ itemchecked: item.state.checked }">{{item.text}}</ion-label>
                <ion-button fill="clear" item-right (click)="presentActionSheet(item)">
                    <ion-icon color="tertiary" name="more"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-card>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="primary" (click)="handleManageListClick()">
                <ion-icon name="people"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-list>
</ion-content>