ion-header {
  background-color: var(--ion-color-tertiary);

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
}

ion-checkbox .item-cover{
  display:none;
}
.input-cover{
  display: none;
}
.itemchecked {
  text-decoration: line-through;
  color: var(--ion-color-secondary-shade);
}
.new-item-input{
  margin-bottom: 40px;
}

ion-card.card-item-checked {
  box-shadow: none;
  background-color: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-secondary-shade);
}

.item-checkbox-checked {
  background: none !important;
}

ion-list {
  background-color: transparent;
}

ion-fab {
  right: 20px;
  bottom: 20px;
}
