page-login {
    background-color: color($colors, primary);

    ion-content, .content-ios, .content-md, .content-wp {
        background-color: transparent;
    }

    .logo {
        height: 47vmin;
        max-width: none;
        margin-top:20px;
    }
}

.login-box, .login-box form {
    ion-label, ion-input {
        font-size: 2rem;
    }
}

.login-page-grid {
    justify-content: space-evenly;
    align-items: center;

    @media (orientation: landscape) {
        flex-direction: row;
    }
    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.button-md {
    text-transform: none;
}

.button-inner {
    justify-content: space-around;
}

.background-img {
    height:100%;
    background: url("../assets/imgs/login/background.jpg");
    filter: brightness(45%);
}
