<ion-content class="background">
        <form (ngSubmit)="addEmail()" [formGroup]="addEmailForm">
                <ion-searchbar formControlName="email" [ngClass]="{ 'email-invalid': !addEmailForm.valid }" autofocus class="email-searchbar"
                    type="email" (ionInput)="search($event.target.value)" placeholder="Email"></ion-searchbar>
            </form>
    <ion-list [hidden]="searchResults.length === 0">
        <p ion-text padding-left no-margin margin-top color="tertiary">Suggested</p>
        <ion-card>
            <ion-item *ngFor="let result of searchResults" (click)="handleMatchingEmailClick(result)">
                <h2>{{result}}</h2>
            </ion-item>
        </ion-card>
    </ion-list>

    <ion-list>
        <p ion-text padding-left no-margin margin-top color="light">Shared with</p>
        <ion-card>
            <ion-item padding [hidden]="!isLoading">
                <ion-spinner color="primary"></ion-spinner>
            </ion-item>
            <ion-item *ngFor="let existingEmail of modifiedList">
                <ion-avatar item-start>
                    <button ion-button icon-only clear>
                        <ion-icon name="person"></ion-icon>
                    </button>
                </ion-avatar>
                <h2>{{ existingEmail }}</h2>
                <button ion-button icon-only item-right clear (click)="handleRemoveUserClick(existingEmail)" [hidden]="!isOwnEmail(existingEmail)">
                    <ion-icon color="tertiary" name="close"></ion-icon>
                </button>
            </ion-item>
        </ion-card>
    </ion-list>

    <button ion-button clear (click)="dismiss()" color="light">Cancel</button>
    <button float-right margin-right ion-button [disabled]="!hasChanged()" (click)="save()">Save</button>
</ion-content>