.card-accent {
  width: 20px;
  background-color: var(--ion-color-primary-shade);
}

ion-card {
  flex-direction: row;
  display: flex;
  height:100px;

  & > img {
    object-fit: cover;
    max-width:100px;
  }

  & > ion-spinner {
    margin: auto 20px;
  }

  & > ion-item h2 {
    padding-bottom: 20px !important;
  }

  ion-card-content {
    flex-grow: 1;
  }
}

.refresher-md .refresher-refreshing-icon {
  color: var(--ion-color-primary-shade-rgb);
}