<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="register-box">
        <form (ngSubmit)="register()" [formGroup]="registerForm">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating for="email">Email</ion-label>
                        <ion-input type="text" formControlName="email" id="email" name="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label floating for="username">Username</ion-label>
                        <ion-input type="text" formControlName="username" id="username" name="username"></ion-input>
                    </ion-item>

                    <ion-item class="password-input">
                        <ion-label floating for="password">Password</ion-label>
                        <ion-input formControlName="password" [type]="!showPasswordText ? 'password' : 'text'"
                                   id="password" name="password" required></ion-input>

                        <button ion-button clear icon-only color="tertiary" type="button" item-right (click)="showPasswordText = !showPasswordText">
                            <ion-icon name="eye" *ngIf="!showPasswordText"> </ion-icon>
                            <ion-icon name="eye-off" *ngIf="showPasswordText"> </ion-icon>
                        </button>
                    </ion-item>
                </ion-col>
            </ion-row>

            <div padding>
                <button ion-button block type="submit" [disabled]="!registerForm.valid">Register</button>
            </div>
        </form>
    </div>
</ion-content>
