ion-checkbox .item-cover{
    display:none;
}
.input-cover{
    display: none;
}
.itemchecked {
    text-decoration: line-through;
    color: color($colors, disabled-secondary);
}
.new-item-input{
    margin-bottom: 40px;
}

.card-item-checked {
    background: none !important;
    box-shadow: none;    
    background-color: transparent !important;
    border: 1px solid color($colors, disabled-secondary);
}

.item-checkbox-checked {
    background: none !important;    
}

ion-fab {
    right: 20px;
    bottom: 20px;
}